@use '../abstracts/breakpoints' as brk;

.cta-banner {
  --content-padding-block: 5em;
  --content-padding-inline: 1em;
  --content-spacing: 2rem;
  --bg-illustration: url('/images/backgrounds/bg-pattern-how-we-work-mobile.svg');
  margin-bottom: 8rem;
  
  @include brk.minWidth(small) {
    --content-padding-inline: 3em;
    --bg-illustration: url('/images/backgrounds/bg-pattern-how-we-work-desktop.svg');
    --bg-illustration-size: contain;
    margin-bottom: 9rem;
  }
  
  @include brk.minWidth(medium) {
    --content-padding-inline: 5.5em;
    --title-max-width: 55%; // magic number that breaks the line to match the design
  }
  
  &__content {
    background-color: var(--clr-primary-400);
    background-image: var(--bg-illustration);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: var(--bg-illustration-size);
    color: var(--clr-neutral-200);
    padding-block: var(--content-padding-block);
    padding-inline: var(--content-padding-inline);
    /* default styling for mobile screens */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--content-spacing);
    
  }
  
  &__title {
    max-width: var(--title-max-width);
  }
  
  &__btn {
    flex-shrink: 0;
  }
}