 @use '../abstracts/breakpoints' as brk;

.header {
  --container-height: 4rem;
  width: 100%;
  background-color: var(--clr-neutral-100);
  position: fixed;
  z-index: 99;
  top: 0;
  
  @include brk.minWidth(small) {
    --container-height: 6rem;
    position: static;
  }
  
  .container {
    //background-color: var(--clr-neutral-100);
    min-height: var(--container-height);
    justify-content: space-between;
    align-items: center;
  }
}