 @use '../abstracts/breakpoints' as brk;

.header {
  --container-height: 5rem;
  width: 100%;
  background-color: var(--clr-neutral-100);
  position: fixed;
  top: 0;
  z-index: 1;
  
  @include brk.minWidth(small) {
    --container-height: 6rem;
    position: absolute;
  }
  
  .container {
    min-height: var(--container-height);
    align-items: center;
  }
}