.nav {
  
  &__header {
    display: none;
  }
  
  &__footer {
    padding-top: 2em;
    border-top: 0.5px solid var(--clr-neutral-400);
    margin-bottom: 2rem;
    
    &-list * {
      font-family: var(--ff-body);
      font-size: var(--fs-300);
      font-weight: var(--fw-bold);
      text-transform: uppercase;
    }
    
    &-list {
      gap: 2rem;
      
      h2 {
        margin-bottom: 1.75rem;
      }
      
      // inner lists
      ul {
        gap: 0.5rem;
      }
    }
  }
}