.nav-footer {
  
  &__list {
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    gap: 2rem;
    
    &-title {
      font-family: var(--ff-body);
      margin-bottom: 1.75rem;
    }
    
    &-inner {
      gap: 0.5rem;
    }
  }
}