@use '../abstracts/breakpoints' as brk;

:root {
  --clr-primary-400: hsl(256, 26%, 20%);
  --clr-primary-300: hsl(256, 34%, 65%);
  
  --clr-secondary-400: hsl(216, 30%, 68%);
  
  --clr-neutral-900: hsl(270, 9%, 17%);
  --clr-neutral-400: hsl(273, 4%, 51%);
  --clr-neutral-200: hsl(0, 0%, 98%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  
  --ff-heading: 'DM Serif Display', serif;
  --ff-body: 'Karla', sans-serif;
  
  --fw-bold: 700;
  --fw-regular: 400;
  
  --fs-900: 2.75rem;
  --fs-700: 2.25rem;
  --fs-600: 1.6rem;
  --fs-500: 1.25rem;
  --fs-400: 0.95rem;
  --fs-300: 0.85rem;
  
  @include brk.minWidth(medium) {
    --fs-900: 4.25rem;
    --fs-700: 3.45rem;
    --fs-600: 1.75rem;
    --fs-400: 1rem;
    --fs-300: 1rem;
  }
}