@use '../abstracts/breakpoints' as brk;

.flex {
  display: flex;
  
  &--wrap {
    flex-wrap: wrap;
  }
  
  &--space-between {
    
    @include brk.minWidth(small) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}